body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}

.generator-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80vw;
  max-width: 600px;
}

.generator-container input[type="number"] {
  width: 80px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.generator-container label {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.generator-container .checkbox-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.generator-container .checkbox-group label {
  display: flex;
  align-items: center;
}

.generator-container .checkbox-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.generator-container button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4a90e2;
  color: white;
  transition: background-color 0.3s;
}

.generator-container button:hover {
  background-color: #357ab8;
}

.password-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.password-list li {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-list li .copy-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  color: #4a90e2;
  transition: color 0.3s;
}

.password-list li .copy-icon:hover {
  color: #357ab8;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the element */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.password-list li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
